@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-main: #eff1f5;
    --text-main: #4c4f69;
    --peach: #fe640b;
    --card-bg: #dce0e8;
    --hr: #c4c4c4;
}

body {
    background-color: var(--bg-main);
    margin: 0;
    padding: 0;
}